.main {
  max-height: 100%;
}

.TabList {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: none;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.Tab {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  background: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-primary-light);
  }

  &.selected {
    color: var(--color-primary-light);
    border: none;

    &:after {
      background-color: #20c997;
      bottom: -2px;
      content: " ";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
      width: 100%;
    }
  }
}
