.formContainer {
  perspective: 1000px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
}

.input,
.textarea {
  padding: 1rem;
  border: none;
  border-radius: 16px;
  background-color: #f8f9fa;
  font-size: 1rem;
  outline: none;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);

  &:focus {
    background-color: #eaeef3;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
}

.textarea {
  resize: vertical;
}

.button {
  border: none;
  width: 10%;
  outline: none;
  text-align: center;
  color: #ffffff;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  @media screen and (max-width: 768px) {
    width: 30%;
  }
}

.contact {
  position: relative;
}

.toast {
  position: absolute;
  top: 40%;
  left: 43%;
  background-color: var(--color-primary-light);
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}
