.Header {
  margin: 3rem;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maskedText {
  opacity: 0.4;
  color: #727373 !important;
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 4rem);
  text-transform: uppercase;
}

.subtitle {
  color: rgb(33, 37, 41);
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  position: absolute;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 54%;
  left: 50%;
}

.separator {
  border-color: var(--color-primary-light);
  width: 80px;
  border: 1px solid var(--color-primary-light);
  margin: auto;
  display: block;
}
