.Container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 3rem;

  @media screen and (max-width: 768px) {
    padding: 0 3rem;
  }

  @media screen and (max-width: 992px) {
    padding: 0 3rem;
  }
}
